---
---

@import "{{ site.theme }}";

/*
code {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0em .3em;
  margin: auto .1em;
}
*/

img {
  margin: auto -20px;
  max-width: calc(100% + 40px);
}

section {
  border-top: none;
}

ul.list-of-posts {
    background-color: #eee;
    margin: auto -20px;
    padding-left: 0px;
}

ul.list-of-posts li {
    list-style: none;
    margin-left: 0px;
    padding: 5px 20px;
}

ul.list-of-posts li:hover {
    background-color: #e8e8e8;
}

.block {
    margin-left: -20px;
    width: 100%;
    padding: 10px 20px;
    margin: 1em -20px;
}

.block.warning, .block.important {
    background-color: #face55;
    font-style: italic;
    color: #000;
}

.gif {
    margin-left: -20px;
}

.block.warning img, .block.important img {
    margin-left: 0px;
    width: 100%;
    margin: 1em auto;
    opacity: 0.9;
    display: block;
    box-shadow: 0px 0px 10px #777;
    margin-top: 1em;
}

.block.warning::before, .block.important::before {
    content: "Important!";
    display: block;
    font-weight: bold;
}

header {
    background: #404258;
    border-bottom: none;
}
