---
---

@import "{{ site.theme }}";

/*
code {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0em .3em;
  margin: auto .1em;
}
*/

img {
  margin: auto -20px;
  max-width: calc(100% + 40px);
}

section {
  border-top: none;
}

ul.list-of-posts {
    background-color: #eee;
    margin: auto -20px;
    padding-left: 0px;
}

ul.list-of-posts li {
    list-style: none;
    margin-left: 0px;
    padding: 5px 20px;
}

ul.list-of-posts li:hover {
    background-color: #e8e8e8;
}

.block {
    margin-left: -20px;
    width: 100%;
    padding: 10px 20px;
    margin: 1em -20px;
}

.block.warning {
    background-color: rgb(240, 230, 140);
    font-style: italic;
    color: #866105;
}
