---
---

@import "{{ site.theme }}";

p, ul, ol, table, pre, dl {
    margin: 0 0 .8em;
}

h3 {
    margin: 0px;
}

img {
    display: block;
    max-width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 0.8em;
}

.important {
    margin-left: -20px;
    margin-bottom: .8em;
    width: 100%;
    padding: .8em 20px;
    margin-left: -20px;
    background-color: #face55;
    font-style: italic;
    color: #000;
}

.important b {
    font-weight: bold;
}

.important img {
    margin: 0 auto;
    display: block;
    margin-top: .8em;
    border: 1px solid #0000004d;
    max-width: 100%;
}

.important::before {
    content: "Important!";
    display: block;
    font-weight: bold
}

.important em, .important i {
    font-style: italic;
}

.gif {
    margin-left: -20px;
    margin-bottom: .8em;
}

.gif img {
    margin-left: 0;
    margin-bottom: 0;
}

em, i {
    font-style: normal;
    color: #b70707
}

header {
    background: #404258;
    border-bottom: none;
    color: white;
    text-decoration: none
}

header a {
    color: white;
    text-decoration: none
}

header h1 {
    color: white;
    text-shadow: none
}

header p {
    color: white
}
